<article class="timeline-item note">
  {% if note.data.title %}
    <h2 class="note-title">
      <a href="{{ note.url }}">{{ note.data.title }}</a>
    </h2>
  {% endif %}
  <div class="note-content">{{ note.content }}</div>
  <div class="item-meta">
    <a href="{{ note.url }}">{{ note.data.published | relative_date }}</a>
    {%- if note.data.published != note.data.updated -%}
      <div>(last updated: {{ note.data.updated | relative_date }})</div>
    {%- endif -%}
    <div class="tags">
      {% for tag in note.data.tags %}
        {% unless tag == 'note' %}
          <span class="tag"
            ><a href="/tag/{{ tag | slugify }}">{{ tag }}</a></span
          >
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</article>
