<article class="timeline-item note">
  <p class="note-content">{{ note.content }}</p>
  <div class="item-meta">
    {% if title %}
      <h2>{{ note.title }}</h2>
    {% endif %}
    <a href="{{ note.url }}">{{ note.data.published | relative_date }}</a>
    {%- if note.data.published != note.data.updated -%}
      (last updated: {{ note.data.updated | relative_date }})
    {%- endif -%}
    <div class="tags">
      {% for tag in note.data.tags %}
        {% unless tag == 'note' %}
          <span class="tag"
            ><a href="/tag/{{ tag | slugify }}">{{ tag }}</a></span
          >
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</article>
